cycler
Flask
Flask_Cors
fonttools
importlib-metadata
Jinja2
joblib
kiwisolver
kmapper
llvmlite
MarkupSafe
matplotlib
networkx
numba
numpy
nvidia-cublas-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
packaging
pandas
Pillow
pymilvus
pynndescent
pyparsing
python-dateutil
scikit-learn
scipy
six
tensorflow
threadpoolctl
torch
tqdm
typing_extensions
umap
umap-learn
zipp==3.15.0