body {
    margin: 0;
    overflow: hidden;
    height: 100%;
    color:#5f5b55;
    font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
}
#app {
    font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
}

.content_container {
    display: flex;
}

#subject_model_info_panel {
    width: 260px;
    padding: 20px;
    background-color: rgb(244, 244, 244);
    height: calc(100vh);
}
#opration_bar{
    background-color: rgb(244, 244, 244);
    width: 100%;
    height: 50px;
}

#advanced_panel {
    width: 300px;
    padding: 20px;
    background-color: rgb(244, 244, 244);
}
.mid_container{
    flex: 1;
    display: flex;
}

#container_ref,#container_tar {
    width: 50%;
    height: 100%;
    margin: 10px;
}


.header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    background-color: #571792;
    color: #fff;
}

#footer {
    height: 90px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgb(244, 244, 244);
}
.el-checkbox__input.is-checked+.el-checkbox__label{
    color: #571792;
}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{
    background-color: #571792;
    border-color: #571792;
}
.tutorial_btn{
    position:fixed;
    top: 80px;
    right:0px;
    font-size: 20px;
}
.el-radio__input.is-checked+.el-radio__label {
    color: #571792;
}

.el-radio__input.is-checked .el-radio__inner{
    border-color: #571792;
    background: #571792;
}
#currHover1 {
    position: fixed; /* or 'absolute' depending on your layout */
    z-index: 1000; /* Ensure this is high enough to be on top of other elements */
    background-color: white; /* Optional: for better visibility */
    border: 1px solid #0a0909; /* Optional: just for styling */
    padding: 10px; /* Optional: just for styling */
    cursor: move; /* Change cursor to indicate the div is movable */
    top: 500px; /* Initial position */
    left: 50px; /* Initial position */
  }
  
  #currHover2 {
    position: fixed; /* or 'absolute' depending on your layout */
    z-index: 1000; /* Ensure this is high enough to be on top of other elements */
    background-color: white; /* Optional: for better visibility */
    border: 1px solid #a02626; /* Optional: just for styling */
    padding: 10px; /* Optional: just for styling */
    cursor: move; /* Change cursor to indicate the div is movable */
    top: 500px; /* Initial position */
    left: 800px; /* Initial position */
  }