<!DOCTYPE html>
<html>

<head>
    <title>TIME-TRAVELLING</title>
    <meta charset="UTF-8" name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="Frontend/driver.min.css">
    <link rel="stylesheet" href="Frontend/contrast_index.css">
    <!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script>   -->
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.126.1/build/three.min.js"></script>
    <script src="Frontend/request.js"></script>
    <script src="Frontend/contrast_render.js"></script>
    <script src="Frontend/utils.js"></script>
</head>

<body>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/driver.js/dist/driver.min.js"></script>
    <div id="app" v-loading="isCanvasLoading">
        <div class="header">
            Time Travelling Visualizer (Contrast)
            <a href="/" style="color: #fff; position:fixed; right: 20px;top:4px;"><i class="el-icon-back" style="font-size: 24px;" ></i></a>
        </div>
        <el-button class="tutorial_btn" type="success" icon="el-icon-question" size="mini"
            @click.prevent.stop="guide"></el-button>
        <el-popover placement="left" width="200" trigger="click">
            <div>
                Canvas Intereaction Setting<br/>
                zoom in speed?<br/>
                drag speed?<br/>
                or light?<br/>
                <el-button>Save</el-button>
            </div>
            <el-button style="position: fixed; top: 130px; right:0px; font-size: 20px;" size="mini" type="warning" slot="reference" icon="el-icon-setting"></el-button>
        </el-popover>

        <div class = "overall_container">
        <div class="content_container">

            <div id="subject_model_info_panel">
                <div id="contentSettingData">
                    <span style="display: inline-block; margin-right: 20px;">Data Type:</span>
                    <el-radio v-model="dataType" label="Image">Image</el-radio>
                    <el-radio v-model="dataType" label="Text">Text</el-radio>
                </div>
                <el-divider></el-divider>
                <div id="contentSettingTask">
                    <span style="display: inline-block; margin-right: 20px;">Task Type:</span>
                    <el-radio v-model="taskType" label="Classification">Classification</el-radio>
                    <el-radio v-model="taskType" label="Non-Classification">Non-Classification</el-radio>
                </div>

                <el-divider></el-divider>
                <div id="contentPathInputRef">
                    Content Path Left:
                    <el-input v-model="contentPathRef"></el-input>
                </div>
                <el-divider></el-divider>
                <div id="contentPathInputTar">
                    Content Path Right:
                    <el-input v-model="contentPathTar"></el-input>
                </div>
                <el-divider></el-divider>
                <el-button id="showVisResBtn"
                    style="background-color: #571792; color: #fff; width: 100%; margin-top: 0px;" @click="update">Load
                    Visualization Result</el-button>
                <el-divider></el-divider>
                
                <div id="select-container">
                    <span style="display: inline-block; line-height: 30px; vertical-align: top; margin-left:20px; margin-right: 5px;">Multiton:</span>
                    <select v-model="multiOption" id="highlightMethodInput" class="login-input" style="height: 30px; width: 50px;">
                      <option value="align" selected>align</option>
                      <option value="nearest neighbour">nearest neighbour</option>
                      <option value="both" selected>both</option>
                    </select>
                    <button id="highlightButton" @click="highlightDataMulti">Show</button>
             
                    <span style="display: inline-block; line-height: 30px; vertical-align: top; margin-left:20px;margin-right: 5px; margin-top: 10px">Singleton:</span>
                    <select v-model="singleOption"  id="highlightMethodInputSingle" class="login-input" style="height: 30px; width: 50px;">
                    <option value="align" selected>align</option>
                    <option value="nearest neighbour">nearest neighbour</option>
                    <option value="reset" selected>reset</option>
                    </select>
                    <button id="highlightButtonSingle" @click="highlightDataSingle">Show</button>
           
                    <span style="display: inline-block; line-height: 30px; vertical-align: top; margin-left:20px;margin-right: 5px;margin-top: 10px ">Hover Mode:</span>
                    <select v-model="hoverMode" id="changeHoverMode" class="login-input" style="height: 30px; width: 50px;">
                    <option value="single" selected>single</option>
                    <option value="pair">pair</option>
                    </select>

             
                    <span style="display: inline-block; line-height: 30px; vertical-align: top; margin-left:20px;margin-right: 5px; margin-top: 10px">Cocurrent Mode:</span>
                    <select v-model= "concurrentMode" id="changeConcurrentMode" class="login-input" style="height: 30px; width: 50px;">
                    <option value="yes" selected>yes</option>
                    <option value="no">no</option>
                    </select>

                  
                </div>
               

            </div>

            <div class="mid_container">
                <div id="container_ref">
                    <div id="hoverLabelRef">
                        <!-- Label content -->
                    </div>
                  
                    <div id="fixedHoverLabelRef" >
            
                    </div>
                </div>
                <div id="container_tar">
                    <div id="hoverLabelTar">
                        <!-- Label content -->
                    </div>
                  
                    <div id="fixedHoverLabelTar" >
            
                    </div>
                </div>
            </div>

          
        </div>
       
        <div id = "iterationContainer"> 
            <div id="footerRef">
                <svg id="timeLinesvgRef"></svg>
            </div>
            <div id="footerTar">
                <svg id="timeLinesvgTar"></svg>
            </div>
        </div>

        </div>

        <div id="currHoverRef">
            CurrHoverIndex: {{lastHoveredIndexRef}}<br />
            prediction: {{curr_predRef}}<br />
            label: {{curr_labelRef}}<br />

            <div v-if="dataType === 'Image'">
                <img :src="imageSrcRef" alt="Image Description" height="100px" />
              </div>
              <div v-else>
                <div style="max-height: 300px; overflow-y: auto;">
                    <p>{{ textContentRef }}</p>
                </div>
              </div>
        </div>
        <div id="currHoverTar">
            CurrHoverIndex: {{lastHoveredIndexTar}}<br />
            prediction: {{curr_predTar}}<br />
            label: {{curr_labelTar}}<br />

            <div v-if="dataType === 'Image'">
                <img :src="imageSrcTar" alt="Image Description" height="100px" />
              </div>
              <div v-else>
                <div style="max-height: 300px; overflow-y: auto;">
                    <p>{{ textContentTar }}</p>
                </div>
              </div>
        </div>
        <div id="hoverLabelTar">
            <!-- Label content -->
        </div>
      
        <div id="fixedHoverLabelTar" >

        </div> 
        <div id="hoverLabelRef">
            <!-- Label content -->
        </div>
      
        <div id="fixedHoverLabelRef" >

        </div>
    </div>
</body>

<script>

    window.vueApp = new Vue({
        el: '#app',
        data() {
            return {
                lastHoveredIndexRef: null,
                lastHoveredIndexTar: null,
                contentPathRef: '/home/timeTravelling/guorui/git_space/TestFrontend/time-travelling-visualizer/Backdoor',
                contentPathTar: '/home/timeTravelling/guorui/git_space/TestFrontend/time-travelling-visualizer/Backdoor',
                isCanvasLoading: false,
                taskType: 'Classification',
                prediction_listRef: [],
                prediction_listTar: [],
                curr_predRef: '',
                curr_predTar: '',
                curr_labelRef: '',
                curr_labelTar: '',
                label_listRef: [],
                label_listTar: [],
                label_name_dictRef: {},
                label_name_dictTar: {},
                evaluation: { test_acc: 0, train_acc: 0 },
                currEpochRef: 1,
                currEpochTar: 1,
                showTraining: true,
                showTesting: true,
                SelectionMode: false,
                imageSrcRef: '',
                textContentRef: '',
                imageSrcTar:'',
                textContentTar:'',
                selectedIndexRef: null,
                selectedIndexTar: null,
                selectedPointPositionRef: null,
                selectedPointPositionTar: null,
                hoverIndexRef: null,
                hoverIndexTar: null,
                highlightAttributesRef: {
                    highlightedPointsYellow: null,
                    highlightedPointsBlue: null,
                    highlightedPointsGreen: null,
                    allHighlightedSet: null,
                    boldIndices: null,
                },

                highlightAttributesTar: {
                    highlightedPointsYellow: null,
                    highlightedPointsBlue: null,
                    highlightedPointsGreen: null,
                    allHighlightedSet:null,
                    boldIndices: null,
                },
                multiOption:"align",
                singleOption:"align",
                scene: {
                    'ref': null,
                    'tar': null
                },
                renderer: {
                    'ref': null,
                    'tar': null
                },
                camera: {
                    'ref': null,
                    'tar': null
                },
                animationFrameId: {
                    'ref': null,
                    'tar': null
                },

                curImg: null,
                dataType: "Image",
                zoomInSpeed: 0.01,
                hoverMode:"single",
                concurrentMode: "no",
            }
        },
        methods: {
            guide() {
                const steps = [{
                    element: '#contentPathInputRef',
                    popover: {
                        title: 'Content Path',
                        description: 'Please input the absolute path of the training dynamics',
                        position: 'right'
                    },
                },
                {
                    element: '#showVisResBtn',
                    popover: {
                        title: 'Start Render',
                        description: 'After input the content path, you can click button to load the visulization results(default start from epoch 1)',
                        position: 'right'
                    },
                },
                // {
                // element: '#footer',
                // popover: {
                //     title: 'Time Line',
                //     description: '**************',
                //     position: 'right',
                //     className: 'custom-popover-position'
                //     },
                // },
                {
                    element: '#subjectModeEvalRes',
                    popover: {
                        title: 'Subject Model Eval Res',
                        description: 'After load the visualization result, the corresbounding result wiil be show here',
                        position: 'right'
                    },
                },
                {
                    element: '#currHoverRef',
                    popover: {
                        title: 'Hover Information',
                        description: 'The detail of the current hover sample will be shown here',
                        position: 'right'
                    },
                },
                {
                    element: '#container_ref',
                    popover: {
                        title: 'Visualization Canvas',
                        description: '**************',
                        position: 'right'
                    },
                },
                {
                    element: '#advanced_panel',
                    popover: {
                        title: 'Advanced panel',
                        description: '**************',
                        position: 'left'
                    },
                }

                ]
                this.driver.defineSteps(steps)
                this.driver.start()
            },
            update() {
                this.isCanvasLoading = true
                updateContraProjection(this.contentPathRef, this.currEpochRef, this.taskType, 'ref')
                fetchTimelineData(this.contentPathRef, 'ref')
                updateContraProjection(this.contentPathTar, this.currEpochTar, this.taskType, 'tar')
                fetchTimelineData(this.contentPathTar, 'tar')
            },

            highlightDataMulti() { 
                getHighlightedPoints("multi")        
            },
            highlightDataSingle() {
                getHighlightedPoints("single")  
            }

        },
        watch: {
            lastHoveredIndexRef: {
                immediate: true,
                handler(newVal, oldVal) {
                    this.curr_predRef = this.prediction_listRef[newVal];
                    this.curr_labelRef = this.label_name_dictRef[this.label_listRef[newVal]]
                    if (newVal != null) {
                        getOriginalData(this.contentPathRef, newVal,this.dataType, 'ref')

                    }

                }
            },
            lastHoveredIndexTar: {
                immediate: true,
                handler(newVal, oldVal) {
                    this.curr_predTar = this.prediction_listTar[newVal];
                    this.curr_labelTar = this.label_name_dictTar[this.label_listTar[newVal]]
                    if (newVal != null) {
                        getOriginalData(this.contentPathTar, newVal,this.dataType, 'tar')

                    }

                }
            }
        },
        mounted() {
            this.driver = new Driver()
            
        },
        unmounted(){
            this.isCanvasLoading = true
        }
    })
</script>

</html>
