<!DOCTYPE html>
<html>

<head>
    <title>TIME-TRAVELLING</title>
    <meta charset="UTF-8" name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="Frontend/driver.min.css">
    <link rel="stylesheet" href="Frontend/index.css">
    <!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script>   -->
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.126.1/build/three.min.js"></script>
    <script src="Frontend/request.js"></script>
    <script src="Frontend/render.js"></script>
    <script src="Frontend/utils.js"></script>
</head>

<body>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/driver.js/dist/driver.min.js"></script>
    <div id="app" v-loading="isCanvasLoading">
        <div class="header">
            Time Travelling Visualizer
            <a href="/contrast" style="color: #fff; position:fixed; right: 60px;top:4px;"><i class="el-icon-open"
                    style="font-size: 24px;"></i></a>
            <a id="connectUs" href="mailto:lin_yun@sjtu.edu.cn?subject=Time Travelling visualizer Bug&body=Hi Prof Lin" style="color: #fff; position:fixed; right: 20px;top:4px;"><i class="el-icon-message"
                        style="font-size: 24px;"></i></a>
        </div>
        <el-button class="tutorial_btn" type="success" icon="el-icon-question" size="mini"
            @click.prevent.stop="guide"></el-button>
        <el-popover placement="left" width="200" trigger="click">
            <div>
                <span style="line-height: 40px; font-weight: 800;">Canvas Intereaction</span>
                <br />
                <div class="setting-item">
                    <span>Zoom Speed:</span> <el-input @input="filterInput('zoomSpeed', $event)" style="width: 100px;" size="mini"
                        v-model="canvasSetting.zoomSpeed"></el-input>
                </div>
                <div class="setting-item">
                    <span>Drag Speed:</span> <el-input @input="filterInput('dragSpeed', $event)" style="width: 100px;" size="mini"
                        v-model="canvasSetting.dragSpeed"></el-input>
                </div>
            </div>
            <el-button style="position: fixed; top: 130px; right:340px; font-size: 20px;" size="mini" type="warning"
                slot="reference" icon="el-icon-setting"></el-button>
        </el-popover>
        <div class="content_container">
            <div id="subject_model_info_panel">
                <div id="contentSettingData">
                    <span style="display: inline-block; margin-right: 20px;">Data Type:</span>
                    <el-radio v-model="dataType" label="Image">Image</el-radio>
                    <el-radio v-model="dataType" label="Text">Text</el-radio>
                </div>
                <el-divider></el-divider>
                <div id="contentSettingTask">
                    <span style="display: inline-block; margin-right: 20px;">Task Type:</span>
                    <el-radio v-model="taskType" label="Classification">Classification</el-radio>
                    <el-radio v-model="taskType" label="Non-Classification">Non-Classification</el-radio>
                </div>

                <el-divider></el-divider>
                <div id="contentPathInput">
                    Content Path:
                    <el-input v-model="contentPath"></el-input>
                </div>
                <el-button id="showVisResBtn"
                    style="background-color: #571792; color: #fff; width: 100%; margin-top: 10px;" @click="update">Load
                    Visualization Result</el-button>
                <el-divider></el-divider>
                <table id="subjectModeEvalRes">
                    <caption style="margin-bottom: 10px 0;">Model Evaluation</caption>
                    <tr>
                        <td></td>
                        <td>training acc</td>
                        <td>Testing acc</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>{{evaluation.train_acc}}</td>
                        <td>{{evaluation.test_acc}}</td>
                    </tr>
                </table>
                <el-divider></el-divider>
             

            </div>
            <div class="mid_container">
                <div id="container"></div>
            </div>

            <div id="advanced_panel">
                <el-checkbox v-model="showTraining">Training</el-checkbox>
                <el-checkbox v-model="showTesting">Testing</el-checkbox>
                <el-checkbox style="margin-top: 10px;" v-model="SelectionMode">Selection Mode</el-checkbox>
                <el-divider></el-divider>
                <el-tabs>
                    <el-tab-pane label="Normal Query">
                        <div class="query-row">
                            <el-select v-model="predicates.key" >
                                <el-option value="label" label="label">
                                </el-option>
                                <el-option value="prediction" label="prediction">
                                </el-option>
                            </el-select>
                            <el-input style="margin-left:20px;" v-model="predicates.value"></el-input>
                        </div>
                        <div class="query-row">
                            Confidence:  <el-input style="margin-left:20px; margin-right:10px;" v-model="confidence[0]"> </el-input> - <el-input style="margin-left:10px;" v-model="confidence[1]"></el-input>
                        </div>
                        <el-button style="background-color: #571792; color: #fff; width: 100%; margin-top: 10px;" >
                            Start Query
                        </el-button>

                    </el-tab-pane>
                 
                    <el-tab-pane label="Advanced Query">Advanced Query</el-tab-pane>
                  </el-tabs>
            </div>
        </div>
        <div id="footer">
            <svg id="timeLinesvg"></svg>
        </div>
        <div id="currHover">
            CurrHoverIndex: {{lastHoveredIndex}}<br />
            prediction: {{curr_pred}}<br />
            label: {{curr_label}}<br />
            <div v-if="dataType === 'Image'">
                <img :src="imageSrc" alt="Image Description" height="100px" />
              </div>
              <div v-else >
                <div style="overflow-y: auto;">
                    <p>{{ textContent }}</p>
                </div>
              </div>
          
            
        </div>
        <div id="hoverLabel">
            <!-- Label content -->
        </div>
      
        <div id="fixedHoverLabel" >

        </div>
  
    </div>
</body>

<script>

    window.vueApp = new Vue({
        el: '#app',
        data() {
            return {
                lastHoveredIndex: null,
                contentPath: '/home/timeTravelling/guorui/git_space/TestFrontend/time-travelling-visualizer/Backdoor',
                taskType: 'Classification',
                isCanvasLoading: false,
                prediction_list: [],
                curr_pred: '',
                curr_label: '',
                label_list: [],
                label_name_dict: {},
                evaluation: { test_acc: 0, train_acc: 0 },
                currEpoch: 1,
                showTraining: true,
                showTesting: true,
                SelectionMode: false,
                isShifting: false,
                scene: null,
                renderer: null,
                camera: null,
                curImg: null,
                imageSrc: "",
                textContent:"",
                dataType: "Image",
                selectedIndex: null, 
                selectedPointPosition: null,
                hoverIndex: null,
                canvasSetting: {
                    zoomSpeed: 0.01,
                    dragSpeed: 0.1
                },
                predicates: {
                    key:'lable',
                    value: null
                },
                confidence:[0,1]
            }
        },
        methods: {
            filterInput(key, event) {
                console.log(key, event)
                let value = event
                
                value = value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');

                if ((value.match(/\./g) || []).length > 1) {
                    value = value.replace(/\.$/, '');
                }
                this.canvasSetting[key] = value;
            },
            guide() {
                const steps = [
                // {
                //     element: '#connectUs',
                //     popover: {
                //         title: 'Connect Us',
                //         description: '**************',
                //         position: 'left'
                //     },
                // },
                {
                    element: '#contentPathInput',
                    popover: {
                        title: 'Content Path',
                        description: 'Please input the absolute path of the training dynamics',
                        position: 'right'
                    },
                },
                {
                    element: '#showVisResBtn',
                    popover: {
                        title: 'Start Render',
                        description: 'After input the content path, you can click button to load the visulization results(default start from epoch 1)',
                        position: 'right'
                    },
                },
                // {
                // element: '#footer',
                // popover: {
                //     title: 'Time Line',
                //     description: '**************',
                //     position: 'right',
                //     className: 'custom-popover-position'
                //     },
                // },
                {
                    element: '#subjectModeEvalRes',
                    popover: {
                        title: 'Subject Model Eval Res',
                        description: 'After load the visualization result, the corresbounding result wiil be show here',
                        position: 'right'
                    },
                },
                {
                    element: '#currHover',
                    popover: {
                        title: 'Hover Information',
                        description: 'The detail of the current hover sample will be shown here',
                        position: 'right'
                    },
                },
                {
                    element: '#container',
                    popover: {
                        title: 'Visualization Canvas',
                        description: '**************',
                        position: 'right'
                    },
                },
                {
                    element: '#advanced_panel',
                    popover: {
                        title: 'Advanced panel',
                        description: '**************',
                        position: 'left'
                    },
                }

                ]
                this.driver.defineSteps(steps)
                this.driver.start()
            },
            update() {
                this.isCanvasLoading = true
                console.log("taskType",this.taskType)
                updateProjection(this.contentPath, this.currEpoch, this.taskType)
                fetchTimelineData(this.contentPath, "")
            }
        },
        watch: {
            lastHoveredIndex: {
                immediate: true,
                handler(newVal, oldVal) {
                    this.curr_pred = this.prediction_list[newVal];
                    this.curr_label = this.label_name_dict[this.label_list[newVal]]
                    if (newVal != null) {
                        getOriginalData(this.contentPath, newVal, this.dataType, "")

                    }

                }
            }
        },
        mounted() {
            this.driver = new Driver()
        }
    })
</script>

</html>