body {
    margin: 0;
    overflow: hidden;
    height: 100%;
    color:#5f5b55;
    font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
}
#app {
    font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
}

.content_container {
    display: flex;
}

#subject_model_info_panel {
    width: 260px;
    padding: 20px;
    background-color: rgb(244, 244, 244);
    height: calc(80vh); /* Adjust based on content, could be fixed or auto */
    overflow-y: auto; /* Allows scrolling within the panel if content overflows */
}
#opration_bar{
    background-color: rgb(244, 244, 244);
    width: 100%;
    height: 50px;
}

#advanced_panel {
    width: 300px;
    padding: 20px;
    background-color: rgb(244, 244, 244);
}
.mid_container{
    flex: 1
}

#container {
    width: 100%;
    height: 100%;
    margin: 10px;
}

.header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    background-color: #571792;
    color: #fff;
}

#footer {
    height: 60px;
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: rgb(244, 244, 244);
}
.el-checkbox__input.is-checked+.el-checkbox__label{
    color: #571792;
}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner{
    background-color: #571792;
    border-color: #571792;
}
.tutorial_btn{
    position:fixed;
    top: 80px;
    right:340px;
    font-size: 20px;
}
.el-radio__input.is-checked+.el-radio__label {
    color: #571792;
}

.el-radio__input.is-checked .el-radio__inner{
    border-color: #571792;
    background: #571792;
}
.setting-item{
    display:flex;
    height: 30px;
    line-height: 30px;
    justify-content: space-between;
}
.el-tabs__item.is-active{
    color: #571792;
}
.el-tabs__active-bar{
    background-color:  #571792;
}
.el-tabs__item:hover{
    color: #7d2dc8;
}
.query-row{
    display:flex;
    height: 54px;
    line-height: 54px;
}
#currHover {
    position: fixed; /* or 'absolute' depending on your layout */
    z-index: 1000; /* Ensure this is high enough to be on top of other elements */
    background-color: white; /* Optional: for better visibility */
    border: 1px solid #23bdbd; /* Optional: just for styling */
    padding: 10px; /* Optional: just for styling */
    cursor: move; /* Change cursor to indicate the div is movable */
    top: 500px; /* Initial position */
    left: 50px; /* Initial position */
    max-width: 300px;
  }
#hoverLabel {
    position: absolute;
    display: none;
    pointer-events: none;
    transform: translate(5px, -5px);
    font-size: 20px;
    color:black;
}
#fixedHoverLabel {
    position: absolute;
    display: none;
    color: green; 
    font-size: 20px; 
    pointer-events: none;
    font-weight: bold;
}
 