html {
  width: 100%;
  height: 100%;

  --theme-color: #1677ff;
  --theme-background-grey: #f9f9f9;
  --theme-text-grey-out: #898989;
  --layout-border-color: #cccccc;
  --token-active-color: #e9e9e9;
  --token-highlight-color: #cde1fc;
}

body {
  margin: 0;
  padding: 0;   /* fit: reset vscode default style */
  overflow: hidden;
  width: 100%;
  height: 100%;
  color: #5f5b55;

  /* fit `antd` module */
  font-family: "Lato", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 10px;
}

/* Imported Font Families */

.natural-diffuse-shadow {
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.05);
}

.strong-down-shadow {
    box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.1);
}

.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
}

.dm-serif-text-regular-italic {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
}

.playwrite-ie-guides-regular {
    font-family: "Playwrite IE Guides", serif;
    font-weight: 400;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
}

/* Global Text Themes */

.alt-text {
    color: var(--theme-text-grey-out);
}

.placeholder-block {
    font-size: 12px;
    text-align: center;
    padding: 2em;
    margin: auto;
}

.placeholder-block-thin {
    font-size: 12px;
    text-align: center;
    padding: 0.3em 2em;
    margin: auto;
}

/* Resetting antd Styles */

.ant-divider {
    margin: 0.5em 0;
}

.function-tabs .ant-tabs-nav-list {
  width: 100%;
  display: flex;
  justify-content: center;
}

.function-tabs .ant-tabs-tab {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
}

.subtle-resize-handle {
  width: 4px;
  background: transparent;
  border-left: 1px solid var(--layout-border-color);
  cursor: col-resize;
}

.subtle-resize-handle:hover {
  background: rgba(0, 0, 0, 0.03);
}

#app {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.app-header {
    padding: 0.5rem 1rem;
    flex: 0 0 auto;
    color: white;
    background-color: var(--theme-color);

    display: flex;
    flex-direction: row;
    align-items: center;
}

.app-header > * {
    flex: 0 0 auto;
}

.header-button {
    width: 24px;
    height: 24px;
    padding: 2px;
}

.header-button-icon {
    font-size: 16px;
}

/* .header-button-icon:hover {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */

.app-body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    min-height: 0;
}

.app-body-upper-part {
    flex: 1 1 auto;
    display: flex;

    min-height: 0;
}

.bottom-panel {
    position: relative;
}

.bottom-panel-collapse-button {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;

    padding: 1px;
    width: 2em;
    height: fit-content;

    box-sizing: border-box;
    background-color: var(--theme-color);
    cursor: pointer;

    z-index: 1001;
}

.bottom-panel-collapse-button.expand {
    top: -16px;
}

.bottom-panel-collapse-button .ant-btn-icon {
    font-size: 6px !important;
}

.bottom-panel-collapse-button .anticon {
    font-size: 6px !important;
}

.tokens-overview-container {
    display: flex;
    justify-content: safe center;
    padding: 0.5em;
    overflow-y: auto;
}

.tokens-overview-block {
    max-width: 30vw;    
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    margin: 0.5em 1em;
}

.tokens-overview-block-title {
    font-weight: bolder;
}

.tokens-overview-pre {
    flex: 1;
    background-color: var(--theme-background-grey);
    padding: 0 0.5em;
    margin-top: 0.5em;
    border-radius: 0.5em;
    overflow-y: auto;
}

.tokens-overview-pre code {
    text-wrap: wrap;
    cursor: pointer;
    font-family: 'Cascadia Code', 'Courier New', Courier, monospace;
    background-color: transparent;
}

.overview-token.active {
    background-color: var(--token-active-color);
}

.overview-token.active.highlighted {
    background-color: var(--token-highlight-color);
}

.overview-token.affiliated {
    background-color: rgb(199, 240, 255);
}

.overview-token.locked {
    /* background-color: rgb(244, 66, 34); */
    background-color: #b1d0fc;
    color: white;
}

.loss-attribution-block {
    width: 250px;
    padding: 0 2em;
}

.loss-attribution-block-title {
    color: var(--theme-color);
    font-weight: bolder;
}

.loss-attribution-block-title-text {
    display: inline-block;
    margin-right: 0.3em;
}

.loss-attribution-block-title-button {
    font-size: smaller;
    padding: 3px;
    height: 2em;
    gap: 2px;
}

.loss-attribution-block-content {
    font-size: smaller;
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}

.loss-attribution-sample-tag {
    display: inline-block;
    padding: 1px 3px;
    background-color: var(--token-active-color);
    border-radius: 2px;
    margin: 0 2px;
    font-size: smaller;
}

.loss-attribution-sample-tag.highlighted {
    background-color: var(--theme-color);
    color: white;
}

.loss-attribution-sample-tag.indicated {
    background-color: rgb(230, 246, 253);
}

.change-indicator {
    width: 151px;
    height: 22px;
    position: relative;
}

.change-indicator-base-line {
    position: absolute;
    left: calc(50% - 0.5px);
    width: 1px;
    height: 100%;
    background-color: #000000;
}

.change-indicator-bar {
    position: absolute;
    top: 20%;
    height: 60%;
}

.change-indicator-bar.decrease {
    right: calc(50% + 0.5px);
    background-color: #2ce485;
}

.change-indicator-bar.increase {
    left: calc(50% + 0.5px);
    background-color: #e4412c;
}

.change-indicator-value-text {
    position: absolute;
    font-size: smaller;
    transform: translateY(2px);
}

.sample-change-indicator {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.sample-change-indicator-left-section {
    width: 60px;
}

.user-column, .info-column {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1em;  
  overflow-y: auto;
}

.user-column {
  border-right: 1px solid var(--layout-border-color);
  background-color: var(--theme-background-grey);
}

.canvas-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.info-column {
  border-left: 1px solid var(--layout-border-color);
  background-color: var(--theme-background-grey);
}

#control-panel {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

#advanced_panel {
  /* width: 30vh; */
  padding: 20px;
  background-color: var(--theme-background-grey);
}

#canvas-container {
  width: auto;
  height: auto;
  display: flex;
  flex: 1;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

#canvas-wrapper {
  flex: 1;
  overflow: hidden;
  background-color: white;
}

.sprite-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#footer {
  width: 100%;
  height: 54px;
  flex: 0 0 auto;

  box-sizing: border-box;
  position: relative;
  bottom: 0;
  background-color: var(--theme-background-grey);
  border-color: var(--layout-border-color);
  border-width: 1px 0 0 0;
  border-style: solid;
}

#footer div {
  padding: 0 0.8em;
}
/* Custom Design Blocks */

.search-result-sample {
    gap: 8px;
    align-items: center;
}

.search-result-sample-field {
    display: flex;
    align-items: center;
}

.field-tag {
    display: inline-block;
    font-size: 10px;
    padding: 0.5px 3px;
    border-radius: 6px;
    color: white;
}

.tag-1 {
    /* background-color: #13b652; */
    background-color: #268feb;
}

.tag-2 {
    background-color: #268feb;
}

.field-value {
    display: inline-block;
    font-size: 12px;
    margin-left: 2px;
}

.label {
  font-weight: normal;
}

.component-block:not(:first-child) {
  margin-top: 0.5em;
}

.functional-block:not(:first-child) {
    margin-top: 0.5em;
}

.functional-block {
    margin-bottom: 0.5em;
    margin-right: 2em;
    padding-top: 0.5em;
}

.functional-block-title {
    font-size: 12px;
    font-weight: bolder;
    margin-bottom: 1em;
    color:#000000;
}

.full-width {
  width: 100%;
}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 1em;
  height: 1em;
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  border-radius: 0.5em;
  font-size: 1em;
}

::-webkit-color-swatch-wrapper {
  border-radius: 0.5em;
  border: 0;
  padding: 0;
  margin: 0;
}

::-webkit-color-swatch {
  border-radius: 0.5em;
  border: 0;
  padding: 0;
  margin: 0;
}

::-moz-color-swatch {
    border-radius: 0.5em;
    border: 0;
    padding: 0;
    margin: 0;
}

.class-item input[type="color"] {
  transition: all 0.1s ease-in-out;
}

.class-item input[type="color"]:hover {
  box-shadow: 0.1em 0.1em 0.3em rgba(0, 0, 0, 0.1);}

.class-item span {
  display: inline-block;
  padding-left: 0.2em;
  transform: translateY(-0.1em);  /* make the text look more centered */
}

.class-item {
  display: flex;
  align-items: center;
  padding: 0.3em;
  border-radius: 0.5em;
  margin: 0.2em 0;

  cursor: pointer;
}

.class-item:hover {
  background-color: #1677ff20;
}

.class-list {
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;
}

.margin-before {
  margin-top: 1em;
}

.fade-num {
  opacity: 0.4;
  display: inline-block;
  width: 2em;
  text-align: center;
}

.fill {
  width: 100%;
  height: 100%;
}

.ant-list {
  overflow: hidden;
}

.ant-list.search-result .ant-list-item {
  cursor: pointer;
  padding: 4px 12px;
  justify-content: flex-start;
  background-color: white;
}

.ant-list.search-result .ant-list-item:hover{
  background-color: #268feb30;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
}

.inline-margin-left {
  margin-left: 0.5em;
}

.timeline-node {
  cursor: pointer;
  transition: filter 0.1s;
}

.timeline-node:hover {
  filter: brightness(1.2);
}

.sample-tag {
  margin-right: 2px;
  margin: 2px;
  cursor: pointer;
}

/* Universal Components */

.flex-space {
    flex: 1 0 auto;
}
